<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders list</title>
</head>
<body>
    <h1>Orders list:</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prise</th>
                <th>Name</th>
                <th>Client ID</th>
            </tr>
        </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.cost}}</td>
            <td>{{order.name}}</td>
            <td>{{order.client_id}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</body>
</html>